

<mat-sidenav-container >
  <mat-sidenav mode="side" opened *ngIf="this.isDesktop">
    <mat-list role="list">
      <mat-list-item role="listitem" routerLink="ListaUtenti" [routerLinkActive]="'active'">Lista Utenti</mat-list-item>
      <mat-list-item role="listitem" routerLink="AggiungiUtente" [routerLinkActive]="'active'">AggiungiUtente</mat-list-item>
    </mat-list>
  </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet  class="test"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>


