
@import '~bootstrap/dist/css/bootstrap.css';

.required-star, .required-star::after {
  color: red;
}

.required {
  color: red;
  font-weight: bold;
}

.required-par {
  color: red;
}

.required-gen-message {
  margin-top: 20px;
  color: red;
}

.required-star::after {
  content: "*";
  color: red;
}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: auto;
}

.form-field {
  flex: 1;
  margin-right: 10px;
  margin-left: 10px;

}

.form-row {
  display: flex;
  flex-direction: row;

}

