
@import '~bootstrap/dist/css/bootstrap.css';

.required {
  color: red;
  font-weight: bold;
}


.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: auto;
}

.form-field {
  flex: 1;
  margin-right: 10px;
  margin-left: 10px;

}

.form-row {
  display: flex;
  flex-direction: row;

}

