
@import '~bootstrap/dist/css/bootstrap.css';


.form-row {
  display: flex;
  flex-direction: row;

}

.form-field {
  flex: 1;
  margin-right: 10px;
  margin-left: 10px;

}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: auto;
}

.form-actions {
  grid-row: 3; /* Posiziona il pulsante nella terza riga */
  display: flex;
  justify-content: flex-end; /* Allinea il pulsante a destra */
  margin-top: 16px; /* Aggiungi uno spazio sopra il pulsante */
  margin-right: 10px;

}
