
.form-row {
  display: flex;
  flex-direction: row;
}

.form-field {
  flex: 1;
  margin-right: 50px;
}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Layout di griglia con tre righe: header, contenuto, azioni */
  height: 100%; /* Assicurati che il contenitore abbia un'altezza definita */
  overflow-y: hidden;
}

.form-actions {
  grid-row: 3; /* Posiziona il pulsante nella terza riga */
  display: flex;
  justify-content: flex-end; /* Allinea il pulsante a destra */
  margin-top: 16px; /* Aggiungi uno spazio sopra il pulsante */
}
