<h2 #aggiungiUtenteH2>Aggiungi utente</h2>

<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" #formGroupDirective="ngForm" >

    <div class="form-row">

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Nome</mat-label>
        <!--Valido solo se compilato -->
        <input matInput type="text" name="nome" formControlName="nome">
        <!--formControlName serve per mappare con l'oggetto formGroup creato lato TS-->
        <mat-error *ngIf="!form.get('nome')!.valid &&  form.get('nome')!.touched ">Inserisci un nome</mat-error>
        <!--Accesso alla proprietà nome-->
      </mat-form-field>


      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Email</mat-label>
        <!--Valido solo se compilato -->
        <input matInput type="text" name="email" formControlName="email">
        <!--formControlName serve per mappare con l'oggetto formGroup creato lato TS-->
        <mat-error *ngIf="!form.get('email')!.valid &&  form.get('email')!.touched ">Inserisci un email</mat-error>
        <!--Accesso alla proprietà nome-->
      </mat-form-field>

    </div>

    <div class="form-row">

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Username</mat-label>
        <!--Valido solo se compilato -->
        <input matInput type="text" name="username" formControlName="username">
        <!--formControlName serve per mappare con l'oggetto formGroup creato lato TS-->
        <mat-error  *ngIf="!form.get('username')!.valid &&  form.get('username')!.touched ">Inserisci username</mat-error>
        <!--Accesso alla proprietà nome-->
      </mat-form-field>


      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Telefono</mat-label>
        <!--Valido solo se compilato -->
        <input matInput type="text" name="telefono" formControlName="telefono">
        <!--formControlName serve per mappare con l'oggetto formGroup creato lato TS-->
        <mat-error *ngIf="!form.get('telefono')!.valid &&  form.get('telefono')!.touched ">Inserisci un numero di telefono</mat-error>
        <!--Accesso alla proprietà nome-->
      </mat-form-field>

    </div>
    <!--Vecchia versione in cui il formGroup dell'indirizzo si creava nel form principale e si passava tramite input-->
    <!-- Questa è la versione più corretta in quanto in questo modo la creazione del componente avviene sul figlio -->
    <app-indirizzo [addressFormGroup]="getIndirizzoFormGroup()"> </app-indirizzo>

    <!--Nuova versione in cui il formGroup dell'indirizzo viene creato direttamente nel componente app-Indirizzo all'interno di una funzione
    dedicata che viene richiamata dal componente principale-->
    <!--<app-indirizzo> </app-indirizzo>-->

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Salva</button>

    </div>
  </form>
  <!--<button mat-raised-button color="primary" type="button"  (click)="toggle()">Toggle</button> -->
</div>
